#guid-main {
    position: relative;
}

#guid-main .datepicker {
    position: absolute;
    display: none;
    top: 30px;
}

#guid-main #table_detail {
    margin-top: 40px;
}

#guid-main .btn-group {
    position: absolute;
    right: 0px;
    top: 48px;
}

#guid-main .total-count {
    position: absolute;
    top: 56px;
}

#guid-main #table_detail tr {
    cursor: pointer !important;
}